---
import type { TravelLocation } from "@data/travel";

type Props = {
  locations: TravelLocation[];
};

const { locations } = Astro.props;
const markersJson = JSON.stringify(locations);
---

<div class="map-card">
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
  />
  <div id="travel-map" data-markers={markersJson}></div>
</div>

<script
  is:inline
  src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""
></script>
<script is:inline>
  const mapNode = document.getElementById("travel-map");
  const Leaflet = window.L;
  if (mapNode && Leaflet) {
    const markers = JSON.parse(mapNode.dataset.markers || "[]");
    const map = Leaflet.map(mapNode).setView([29.9853899, 122.20778], 2);

    Leaflet.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxZoom: 19,
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    markers.forEach((marker) => {
      const item = Leaflet.marker([marker.lat, marker.lng]).addTo(map);
      const summary = `${marker.name}${marker.period ? ` (${marker.period})` : ""}`;
      item.bindPopup(summary);
    });
  }
</script>
